/dist
/dist-*
/obj-*
/syn-*

/.vagrant/
/vagrant_share/
/build/

# Nix
/result
/result-*
/.direnv/

# pre-fetched runtime blobs (see nix/README.md)
/contrib/wine-gecko-*.tar.xz
/contrib/wine-mono-*.tar.xz
/contrib/xalia-*.zip
